// Font.
$font: (
  primary: ('Yatra One', cursive),
  secondary: ("Permanent Marker", cursive)
);

// Palette.
$palette: (
  primary:       #323232,
  secondary:     darken(#323232, 25%),
  meta:          lighten(#323232, 25%),
  border:        lighten(#323232, 50%),
  bg:            lighten(#323232, 60%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #323232,
  accent-red:    #a51c30
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
